node-red/flows.json
[
    {
        "id": "877c6896e9915ec2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6e1b429b6842590a",
        "type": "mqtt in",
        "z": "877c6896e9915ec2",
        "name": "fingerprint_debug listenener",
        "topic": "fingerprint_debug",
        "qos": "2",
        "datatype": "auto",
        "broker": "4b090ccffa9969da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "083325ec093cae3a"
            ]
        ]
    },
    {
        "id": "2398f6babee1242e",
        "type": "mqtt in",
        "z": "877c6896e9915ec2",
        "name": "fingerprint_out listener",
        "topic": "fingerprint_out",
        "qos": "2",
        "datatype": "auto",
        "broker": "4b090ccffa9969da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "083325ec093cae3a",
                "e7d6861a2ddeb367"
            ]
        ]
    },
    {
        "id": "c917ba800b1ffc08",
        "type": "http request",
        "z": "877c6896e9915ec2",
        "name": "POST web:8000/mqtt/message/",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "web:8000/mqtt/message/",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1070,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "083325ec093cae3a",
        "type": "function",
        "z": "877c6896e9915ec2",
        "name": "Convert to POST",
        "func": "msg.payload = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload,\n}\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 620,
        "wires": [
            [
                "c917ba800b1ffc08"
            ]
        ]
    },
    {
        "id": "e7d6861a2ddeb367",
        "type": "function",
        "z": "877c6896e9915ec2",
        "name": "Identify successful fingerprint auth",
        "func": "if (msg.payload.match(/ID = \\d+ | score = \\d/))\n    return msg\nelse\n    return null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 780,
        "wires": [
            [
                "4654e483189709f4",
                "9c8d6675a819773a",
                "cc857c59e1b9b915"
            ]
        ]
    },
    {
        "id": "4654e483189709f4",
        "type": "change",
        "z": "877c6896e9915ec2",
        "name": "Set UNLOCK effect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FX=2&A=10&T=1&IX=200&SX=200&CL=#00FF00&C2=#00FF99",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 740,
        "wires": [
            [
                "c7482cc8a54ee938"
            ]
        ]
    },
    {
        "id": "c7482cc8a54ee938",
        "type": "mqtt out",
        "z": "877c6896e9915ec2",
        "name": "",
        "topic": "wled/fingerprint-status/api",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4b090ccffa9969da",
        "x": 1600,
        "y": 780,
        "wires": []
    },
    {
        "id": "9c8d6675a819773a",
        "type": "delay",
        "z": "877c6896e9915ec2",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 840,
        "wires": [
            [
                "c567f363b89ba76d"
            ]
        ]
    },
    {
        "id": "c567f363b89ba76d",
        "type": "change",
        "z": "877c6896e9915ec2",
        "name": "Set IDLE effect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FX=15&A=10&T=1&IX=100&SX=5&CL=#f54284&C2=#42b6f5&C3=#f5a742",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 840,
        "wires": [
            [
                "c7482cc8a54ee938"
            ]
        ]
    },
    {
        "id": "b36aa30.3a7276",
        "type": "http request",
        "z": "877c6896e9915ec2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 1290,
        "y": 980,
        "wires": [
            [
                "1ef9987c.956c78"
            ]
        ]
    },
    {
        "id": "1ef9987c.956c78",
        "type": "debug",
        "z": "877c6896e9915ec2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1490,
        "y": 980,
        "wires": []
    },
    {
        "id": "cc857c59e1b9b915",
        "type": "function",
        "z": "877c6896e9915ec2",
        "name": "set msg.url",
        "func": "// TODO determine what to say based on user name\nconst sentence = \"Da hat aber einer Durst\"\n\nreturn {\n    url: \"http://flask-larynx:1349/talk/\" + sentence\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 980,
        "wires": [
            [
                "b36aa30.3a7276"
            ]
        ]
    },
    {
        "id": "b0fd287d3213a41f",
        "type": "inject",
        "z": "877c6896e9915ec2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ID = 1 | score = 100",
        "payloadType": "str",
        "x": 430,
        "y": 780,
        "wires": [
            [
                "e7d6861a2ddeb367"
            ]
        ]
    },
    {
        "id": "4b090ccffa9969da",
        "type": "mqtt-broker",
        "name": "Docker MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "nodered-status",
        "birthQos": "0",
        "birthPayload": "online",
        "birthMsg": {},
        "closeTopic": "nodered-status",
        "closeQos": "0",
        "closePayload": "going offline",
        "closeMsg": {},
        "willTopic": "nodered-status",
        "willQos": "0",
        "willPayload": "unexpected disconnect",
        "willMsg": {},
        "sessionExpiry": ""
    }
]